<%= render :partial => "./layouts/banner" %>
<%= yield %>

<div class="container-index" style= "margin: 10px 15px">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4" style= "margin: 15px 0px">
        <%= link_to cocktail_path(cocktail) do %>
          <div class = "card" style="background-image: linear-gradient(rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) ),
           url('<%= cl_image_path cocktail.photo %>')">
            <p class="card-description"><%= cocktail.name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
