<div class = "card" style="background-image: linear-gradient(rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) ),
       url('<%= cl_image_path @cocktail.photo %>')">
  <h2 class="card-description"><%= @cocktail.name %></h2>
</div>
  <br>
  <p> <i class="fa fa-heart"></i> Recipe <i class="fa fa-heart"></i></p>
  <ul id = "doses">
  <% @cocktail.doses.each do |d|%>
    <li data-dose-id="<%= d.id %>"><%= render 'doses/show', dose: d %>&nbsp;<%= link_to "Delete dose", dose_path(d), method: :delete,  remote: true %></li>
  <% end %>
  </ul>
  <p><i class="fa fa-heart"></i>Add some doses<i class="fa fa-heart"></i></p>
  <%= render 'doses/form', cocktail: @cocktail, dose: @dose %>
</div>
</div>



