<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => "layouts/navbar" %>
    <% unless action_name == "index" %>
    <div class="body-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sx-12 col-sm-6 col-sm-offset-3">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <% else %>
      <div class="body-wrapper">
      <%= yield %>
      </div>
    <% end %>
    <%= render :partial => "layouts/footer" %>
    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>

